@import './globals.css';
@import './window.css';

/* Custom titlebar styles */
.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

body {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI Emoji",
    "Apple Color Emoji",
    "Noto Color Emoji",
    Arial,
    Helvetica,
    sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  line-height: 1.4;
}
